<div class="wrapper d-flex flex-row justify-content-center">
  <div class="filter align-self-start">
    <form (ngSubmit)="applyFilters()">
      <label for="customRange2" class="form-label"
        >Price: <= {{ priceRange }}$</label
      >
      <input
        type="range"
        class="form-range"
        min="0"
        max="1000"
        id="customRange2"
        [(ngModel)]="priceRange"
        name="priceRange"
      />
      <select
        class="form-select"
        aria-label="Default select example"
        [(ngModel)]="selectedCategory"
        name="category"
      >
        <option value="">Category</option>
        <option value="electronics">electronics</option>
        <option value="jewelery">jewelery</option>
        <option value="men's clothing">men's clothing</option>
        <option value="women's clothing">women's clothing</option>
      </select>
      <button type="submit" class="btn btn-primary">Apply Filters</button>
    </form>
  </div>
  <div class="flex-fill">
    <app-product-boxes [products]="filteredProducts"></app-product-boxes>
  </div>
</div>
