<div *ngIf="product" class="container">
  <div class="product-details d-flex">
    <img
      [src]="product.image"
      alt="{{ product.title }}"
      class="product-image"
    />
    <div class="product-info">
      <h2>{{ product.title }}</h2>
      <p class="price">${{ product.price }}</p>
      <p class="mt-4">{{ product.description }}</p>
      <button class="add-to-cart btn" (click)="addToCart(product)">
        Add to cart
      </button>
    </div>
  </div>
</div>
<div *ngIf="!product">Loading product...</div>
